*{
    margin: 0;
    padding: 0;
    border: 0;
}
.container
{
    background-color: rgb(181, 174, 174);
    border: 5px solid black ;
    height: 800px;
    width: 1500px;
}
.container .header
{
    background-color: red;
    width: 1350px;
    height: 400px;
    border: 2px solid black;
    margin-left: 90px;
    margin-top:80px;
}
.header .main-box
{
    /*background-color: green;
    width: 300px;
    height: 200px;
    border: 2px solid black;
    margin-top: 30px;
    margin-left: 80px;*/
}
.main-box .box
{
    background-color: yellow;
    width:350px;
    height:250px;
    border: 2px solid black;
    float:left;
    margin-top: 80px;
    margin-left:200px;
    /* margin-left:500px;
    margin-top: 0px */
}
